lombok.accessors.chain = true
lombok.equalsAndHashCode.callSuper = call
lombok.addLombokGeneratedAnnotation = true
lombok.addNullAnnotations = checkerframework

# Copy Checker Framework annotations to generated code
lombok.copyableAnnotations += oscarvarto.mx.qual.ErrorMsg
lombok.copyableAnnotations += oscarvarto.mx.qual.NotErrorMsg
lombok.copyableAnnotations += oscarvarto.mx.qual.Name
lombok.copyableAnnotations += oscarvarto.mx.qual.NotName

# Also copy Checker Framework's own annotations
lombok.copyableAnnotations += org.checkerframework.framework.qual.SubtypeOf
lombok.copyableAnnotations += org.checkerframework.framework.qual.DefaultFor
lombok.copyableAnnotations += org.checkerframework.framework.qual.DefaultQualifierInHierarchy
lombok.copyableAnnotations += org.checkerframework.framework.qual.QualifierForLiterals
